



.app{
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 3310px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-helvetica);
} 
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    font-size: var(--font-size-xs);
    color: rgba(0, 0, 0, 0.8);
    background-color:var(--color-black);
}
.sort-section{
    width: 100%;
    background-color:   var(--color-whitesmoke);
    overflow: hidden;
}
.sort-section__name:hover{
    cursor: pointer;
    /* background-color: #0085f230; */
}

.sort-section__name{
    padding: 10px 10px ;
    font-size: var(--font-size-xl);
    text-align: center;
    display: inline-block;
    color: var(--color-gray-100);
    width: 12%;
    height: 60%;
}
.sort-section__name--active{
    font-weight: bolder;
    color: var(--color-gray-100) !important;

}


.sort-section__content{
    display: inline-flex;
    height: 40px;
    width: 100%;
    padding-left: 0px;
    padding-right: 12px;   
}  

.container-section{
    top: 85px;
    left: 0;
    background-color:var(--color-white);
    width: 100%;
    height: auto;
} 
.filter-category{
    width: 90%;
    height: 887px;
    border-radius: var(--br-8xs);
    background-color: brown;
    
}

.tf-sort{
    height: 30px;
    display: flex;
    margin: 10px 0px;
}
.tf-sort__quantity{
    color: var(--color-gray-100);
    font-size: var(--font-size-xl);
    width: 158px;
    height: 100%;
}
.tf-sort__layout{
    margin-left: 39.6%;
    margin-right: 13px;
    display: inline-flex;
    align-items: center;
    width: 150px;
    height: 100%;
    color: var(--color-white);
    
}
.tf-sort__layout__icon {
    width: 24%;
    height: 70%;
    padding: 5px;
}
.layout__grid{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}
.layout__grid--btn-primary{
    background:var(--color-gray-100)!important;
}
.layout__content{
    padding-right: 100px;
}
.layout__line{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}


.filter-price{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* min-width: 209px ; */
    /* margin-left: auto;   */
    height: 100%;
    width: 23.6%;
    color:var(--color-white);
    background: var(--color-gray-100);
    border-radius: 5px;
}
.filter-price:hover .filter-price__list{
    display: block;

}
.filter-price__list{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 49%;
    background: var(--color-gainsboro);
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
    display: none;
}
.filter-price__list__item{
    padding: 8px 0px ;
}
.filter-price__link{
    display: block;
    padding: 4px 5px;
    text-decoration: none;
    color:var(--color-white);
}
.filter-price__link:hover{
    color: var( --color-gray-100);
}


.product-section{
   position: relative;
   z-index: 1;
    width: 100%;
    float: left;   
}
.product-section__item-shop:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);
}

.product-section__item-shop{
    position: relative;
    height: 306px;
    margin-top: 10px;
    margin-left: 12px;
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-gray-100);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: .4s;
    background-color: var(--color-white);
}
.item-shop__favourite{
    width: 19%;
    height: 6.5%;
    text-align: center;
    margin: 5px 8px 0px 8px ;
    box-sizing: border-box;
    border-radius: var(--br-xl);
    background-color: var(--color-gray-100);
}
.item-shop__likes{
    font-size: var(--font-size-xs);
    display: inline-block;
    color: var(--color-white);
    text-align: center;
}
.item-shop__icon-heart{
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
   
}
.item-shop__image-product{
    width: 83%;
    height: 51%;
    text-align: center;
    margin: 5px auto;
    display: block;
    cursor: pointer;
    
}
.item-shop__title-product{
    display: inline-block;
    text-align: left;
    margin: 5px  8px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color:var(--color-black);

}
.item-shop__title-product:hover{
    color: var(--color-gray-100) ;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.item-shop__rent{
    position: absolute;
    left: 0;
    right: 54.57%;
    top: 80.64%;
    bottom: 11%;
    width: 92%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 5px 8px;
}
.item-shop__rent__title{
    margin: 0;
    font-size: var(--font-size-smi);
    color: var(--color-gray-200);
}
.item-shop__rent__cost{
    margin-left: 25%;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color:var(--color-black);
}
.item-shop__rent-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 89.16%;;
    height: 34px;
    overflow: hidden;
    text-align:  center;
    font-size: 24px;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 0 0 var(--br-8xs) var(--br-8xs);
    background-color: var(--color-gray-100);
}
.item-shop__rent-btn__title{
    font-size: var(--font-size-base);
    display: inline-block;
    color: var(--color-white);

}
.product-section__page{
    position: absolute;
    width: 9px;
    text-align: center;
    align-items: center;
    height: 17px;
    left: 40%;
    bottom: -3%;
    display: inline-flex;
}
.product-section__page__number{
    text-decoration: none;
    color:var( --color-darkgray);
    padding: 4px 5px ;
    margin: 5px 5px ;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}
.product-section__page__number--active{
    background-color: red;
    color: var(--color-white) !important;
    border-radius:  var(--br-8xs);
}

.footer{
    /* display: none; */
    position: absolute;
    left: 0;
    top: 2970px;
    width: 100%;
    height: 340px;
    background-color: var(--color-gray-100);
}

